@use '../modules/colors';
@use '../modules/fonts';
@use '../modules/format';

#layout {
  cursor: none;
  a,
  input,
  textarea,
  button {
    &:hover {
      cursor: none;
    }
  }
  .cursor {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid colors.$white;
    z-index: 99999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    backdrop-filter: blur(3px) grayscale(100%);
  }
  #main-nav {
    display: flex;
    position: fixed;
    width: calc(100% - 6rem);
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: rgba(colors.$black, 0.7);
    backdrop-filter: blur(0.5em);
    box-shadow: 0 10px 10px rgba(colors.$black, 1);
    z-index: 5;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 3.5em;
        // height: auto;
      }
    }
    .spacer {
      flex: 2;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      list-style-type: decimal-leading-zero;
      li a {
        color: colors.$green;
        &:hover {
          color: colors.$white;
        }
        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
        }
      }
    }
  }
}
