$black: #0a0a0a;
$mid-black: #242425;
$gray: #817f8f;
$off-black: #4d4d4d;
$white: #ebebeb;
$red: #9c263a;
$yellow: #f0a202;
$green: #2f968a;
$blue: #1167bd;
$purple: #914dd1;
$pink: #EDAFB8;
$orange: rgb(245, 122, 40)
