@use '../modules/colors';
@use '../modules/fonts';
@use '../modules/format';

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8em;
    height: 100vh;
    background: linear-gradient(lighten(colors.$black, 4%),  colors.$black);
    span {
        margin-right: .4em;
    }
    h3 {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        color: colors.$green;
        font-family: fonts.$monospace;
        font-weight: 300;
        span {
            color: colors.$white;
        }
    }
    h1 {
        font-size: 8em;
        font-weight: 600;
        -webkit-text-stroke: 2px colors.$white;
        color: transparent;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 3rem;
        color: colors.$green;
        font-weight: 300;
    }
    p {
        width: 50%;
        padding: 1rem;
        padding-left: 0;
        line-height: 1.5;
        font-size: 1em;
        font-family: fonts.$monospace;
        color: darken(colors.$white , 25%)
    }
    .cta {
        margin: 4em;
        margin-left: 0;
        width: max-content;
        letter-spacing: 1.5px;
        a {
            display: flex;
            align-items: center;
            padding: 1rem;
            border: 2px solid colors.$green;
            color: colors.$white;
            border-radius: 3px;
            font-weight: 400;
            transition: .1s ease;
            &:hover {
                background: darken(rgba(colors.$green, .5), 10%);
            }
        }
    }
}