@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@100;700&family=Source+Code+Pro:wght@300&display=swap');

 $roboto: 'Roboto', sans-serif;
 $monospace: 'Source Code Pro', monospace;
 $display: 'Bowlby One SC', cursive;

 $thin: 100;
 $bold: 700;
