@use './colors';
@use './fonts';
@use './format';

@use './mixins';



#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: format.$container;
  margin: 0 auto;
  background: colors.$black;
  @media (max-width: format.$tablet){
    width: 100vw;
    margin-top: 100px;
  }
  article {
    width: 90%;
    margin: 80px 0;
    padding: 20px;
    border-radius: format.$radius;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: format.$tablet) {
      width: 100%;
      border-radius: 0px;
      height: 100%;
    }
    h1 {
      font-size: 4rem;
      margin: 20px 0;
      color: colors.$yellow;
      font-family: fonts.$display;
      display: flex;
      align-items: center;
      line-height: 100%;
      @media (max-width: format.$phone) {
        font-size: 1.7rem;
      }
      @include mixins.period;
      img {
        border-radius: 100%;
        width: 70px;
        margin-right: 20px;
        @media (max-width: format.$phone) {
          width: 50px;
        }
      }
    }
    .description {
      @include mixins.transparent-box;
      font-family: fonts.$monospace;
      a {
        border-bottom: 1px solid colors.$gray;
      }
    }
    .tools {
      @include mixins.transparent-box;
      h2 {
      font-size: 1.5rem;
      margin: 10px 0;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          font-size: 1rem;
          background: colors.$black;
          padding: 10px;
          margin: 10px;
          border-radius: format.$radius;
          text-transform: uppercase;
          @media (max-width: format.$phone) {
            font-size: .9rem;
            margin: 5px;
          }
          & i {
            margin-right: 5px;
          }
          & i.atom {
            color: #56C184;
          }
        }
      }
    }
  }
}
