@use './colors';
@use './fonts';

#hero {
  background: colors.$green;
  margin: 50% auto 0;
  transform: translateY(-50%);
  width: 60vw;
  h1 {
    font-size: 5rem;
    font-family: fonts.$display;
    color: colors.$yellow;
  }
  p {
    font-family: fonts.$monospace;
    font-size: 2rem;
  }
}
