@use './colors';
@use './fonts';
@use './format';


#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  .title {
    h1 {
      font-size: 10rem;
      font-family: fonts.$display;
      color: colors.$yellow;
      display: flex;
      align-items: center;
      & span {
        font-size: 6rem;
        margin-right: 20px;
      }
    }
    h2 {
      font-family: fonts.$roboto;
      font-weight: bold;
      letter-spacing: format.$letter-spacing;
      text-transform: lowercase;
      font-size: 2rem;
      text-align: center;
    }
  }
  a {
    display: inline-block;
    margin-top: 100px;
    border: 5px solid colors.$green;
    padding: 20px;
    color: colors.$white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: format.$letter-spacing;
    border-radius: format.$radius;
    transition: format.$ease;
    &:hover {
      background: colors.$green;
    }
  }
}
