body {
  background: #933838;
  color: #ffffff
}

a {
  text-decoration: none;
}

#nav {
  display: flex;
}

#main-container {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 80vw;
  background: green;
}
