//reset
@use './reset';

//pages
@use './home';
@use './layout';
@use './about';
@use './contact';
@use './projects';

// modules
@use './fonts';
@use './colors';
@use './mixins';

body {
  background-color: colors.$black;
  background-image: radial-gradient(colors.$off-black 1px, colors.$black 1px);
  background-size: 20px 20px;
  color: colors.$white;
  font-family: fonts.$roboto;
}

a {
  text-decoration: none;
  color: colors.$gray;
  &:hover {
    color: colors.$yellow;
  }
  &:visited {
    color: colors.$gray;
    &:hover {
      color: colors.$yellow;
    }
  }
}

//animations

@include mixins.wave-animation;
@include mixins.pulse-animation;
@include mixins.color-slide-animation(colors.$yellow, colors.$green);
@include mixins.slide-in-animations;

.wave {
  animation: wave 2s ease-in-out infinite both;
}
.pulse {
  animation: pulse 3s ease-in-out infinite both;
}
.color-slide {
  animation: color-slide 3s ease-in-out infinite both;
}
.slide-in-left {
  animation: slide-in-left 1s ease;
  animation-fill-mode: both;
}
.slide-in-right{
  animation: slide-in-right 1s ease;
  animation-fill-mode: both;
}

//delay animations
.delay {
  animation-delay: .5s;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 1.5s;
}
