// modules
@use './fonts';
@use './colors';
@use './format';

#cover {
  display: none;
  background: rgba(#000, .5 );
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  &.open {
    display: block;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: format.$ease;
  @media (max-width: format.$tablet) {
    width: 100vw;
    // background: colors.$black;
  }
  &.open {
    margin-top: 100px;
  }
}

#nav {
  position:fixed;
  display:flex;
  justify-content: flex-end;
  top: 0;
  right: calc(100vw - 100%);
  z-index: 999;
  @media (max-width: format.$tablet) {
    width: 100vw;
    top: 0;
    padding: 10px 0;
    background: colors.$mid-black;
  }
  @media (max-width: format.$phone) {
    padding: 0;
  }
  .nav-links {
    display: inline-flex;
    flex-direction: column;
    text-align: right;

    @media (max-width: format.$tablet) {
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: format.$phone) {
      flex-direction: column;
      display: none;
      transform: translateY(-100vh);
      transition: format.$ease;
      &.open {
        display: inline-flex;
        padding: 10px 0;
        transform: translateY(0);
      }
    }
    a {
      font-size: 1.5rem;
      font-family: fonts.$monospace;
      color: colors.$white;
      padding: .5rem;
      margin: 10px 15px;
      letter-spacing: format.$letter-spacing;
      text-transform: uppercase;
      font-weight: bold;
      transition: format.$ease;
      @media (max-width: format.$phone) {
        font-size: 1.2rem;
      }
      &:hover {
        color: colors.$green;
      }
    }
  }
  .hamburger {
    position: fixed;
    display: none;
    top: 10px;
    left: 15px;
    z-index: 9999;
    padding: 20px;
    width: 30px;
    height: 15px;
    background: colors.$black;
    border-radius: format.$radius;
    .line {
      display: block;
      position: absolute;
      background: colors.$white;
      width: 30px;
      height: 2px;
      margin: 5px 0;
      transition: format.$ease;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: colors.$white;
        transition: format.$ease;
      }
      &::after {
        bottom: 10px;
      }
      &::before {
        top: 10px;
      }
    }
    @media (max-width: format.$phone) {
        display: inline-block;
      &.open {
        display: block;
        .line {
          background: transparent;
          bottom: -15;
          &::before {
            transform: rotate(135deg);
            top: 0;
            background: colors.$yellow;
          }
          &::after {
            transform: rotate(45deg);
            top: 0;
            background: colors.$yellow;
          }
        }
      }
    }
  }
}

#footer {
  background: colors.$mid-black;
  position: fixed;
  width: 100vw;
  justify-content: flex-end;
  display: flex;
  bottom: 0;
  right: calc(100vw - 100%);
  @media (max-width: format.$phone) {
    justify-content: center;
  }
  .socials {
    padding: 20px 0;
    ul {
      margin-right: 20px;
      li {
        display: inline-block;
        margin: 0 8px;
        a {
          color: colors.$white;
          font-size: 1rem;
          border: 3px solid colors.$white;
          padding: 5px;
          padding-bottom: 2px;
          border-radius: format.$radius;
          &:hover {
            border: 3px solid colors.$green;
            background: colors.$green;
          }
        }
      }
    }
  }
}
