/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

@use './modules/fonts';
@use './modules/colors';

code[class*="language-"],
pre[class*="language-"] {
  color: colors.$white;
  background: none;
  font-family: fonts.$monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: colors.$purple;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: colors.$orange
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: lighten(colors.$red, 20%);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: lighten(colors.$green, 10%);
}


.token.important,
.token.selector, 
.token.keyword,
.token.atrule,
.token.builtin {
  color: colors.$blue;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: colors.$yellow;
}

.token.operator,
.token.entity,
.token.url {
  color: colors.$white;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
