@use './colors';
@use './fonts';
@use './format';
@use './mixins';

.project_cards {
  background: colors.$black;
  padding: 100px 50px;
  h1 {
    font-family: fonts.$display;
    font-size: 3rem;
    margin-bottom: 35px;
    color: colors.$yellow;
  }
  .card {
    background: colors.$black;
    margin-bottom: 20px;
    .card_content {
      display: flex;
      iframe {
        border-radius: format.$radius;
        border: 5px solid colors.$overlay;
      }
      .card_details {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        background: colors.$overlay;
        margin-left: 20px;
        padding: 25px;
        border-radius: format.$radius;
        width: 100%;
        h2 {
          font-size: 1.7rem;
          margin-bottom: 10px;
          color: colors.$green;
        }
        p {
          font-family: fonts.$monospace;
          font-size: 1.2rem;
          line-height: 150%;
        }
        a {
          color: colors.$white;
          font-weight: bold;
          background: colors.$green;
          padding: 10px;
          margin: 10px 0;
          border-radius: format.$radius;
          display: inline-block;
          &:hover {
            color: colors.$black;
          }
        }
        .technologies {
          margin: 15px 0;
          span {
            padding: 8px;
            margin-right: 8px;
            background: colors.$overlay;
            border-radius: format.$radius;
          }
        }
      }
    }
  }
}
