@use './colors';
@use './fonts';
@use './format';
@use './mixins';

.project_cards {
  background: colors.$black;
  padding: 100px 50px;
  padding-top: 0;
  width: format.$container;
  margin: 0 auto;
  @media (max-width: format.$tablet) {
    width: calc(100vw - 100px);
    margin-top: 75px;
  }
  @media (max-width: format.$phone) {
    width: 100vw;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  h1 {
    font-family: fonts.$display;
    font-size: 3rem;
    margin: 35px 0;
    color: colors.$yellow;
    @media (max-width: format.$phone) {
      font-size: 1.8rem;
    }
    @include mixins.period
  }
  .card {
    background: colors.$black;
    margin-bottom: 20px;
    .card_content {
      display: flex;
      @media (max-width: format.$phone) {

        flex-direction: column-reverse;
        align-items: center;
      }
      iframe {
        border-radius: format.$radius;
        border: 5px solid colors.$overlay;
        @media (max-width: format.$phone) {
          border: none;
          border-radius: 0;
          margin-left: -40px;
          max-width: 100vw;
        }
      }
      .card_details {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        background: colors.$overlay;
        margin-left: 20px;
        padding: 25px;
        border-radius: format.$radius;
        width: 100%;
        @media (max-width: format.$phone) {
          margin: 0 auto;
          padding: 25px 50px;
          margin-left: -20px;
          border-radius: 0;
          width: calc(100% - 100px);
        }
        h2 {
          font-size: 1.7rem;
          margin-bottom: 10px;
          color: colors.$green;
        }
        p {
          font-family: fonts.$monospace;
          font-size: 1.2rem;
          line-height: 150%;
        }
        a {
          color: colors.$white;
          font-weight: bold;
          background: colors.$green;
          padding: 10px;
          margin: 10px 0;
          border-radius: format.$radius;
          display: inline-block;
          &:hover {
            color: colors.$black;
          }
        }
        .technologies {
          margin: 15px 0;
          color: colors.$green;
          span {
            padding: 8px;
            margin-right: 8px;
            background: colors.$overlay;
            border-radius: format.$radius;
            color: colors.$white;
            @media (max-width: format.$phone) {
              display: inline-block;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
